body {
  margin: 0;
  padding: 0;
  background-color: #1A2237;
  height: 100vh;
}
.search-bar {
  background-color: "#FE7748";
  border-color: "#0ebaa6";
  width: '100%';
  position: sticky;
  top: 0;
  z-index: 1;
  height: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-image: linear-gradient(to left, #7078FF, #0B60FB);
  color: #FFFFFF;
  width: 300px;
  border: 1px solid #000000;
  margin-bottom: 10px;
  padding: 20px;
  margin: 20px;
}

.description-card {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.other-cards {
  height: 200px;
  overflow: auto;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  margin-right: 20px;
  text-align: center;
  display: none;
}

.slide:last-of-type {
  margin-right: 0;
}

.active {
  opacity: 1;
  display: initial;
}

.arrows {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.prev {
  left: 0;
  border-radius: 4px 0 0 4px;
}

.next {
  right: 0;
  border-radius: 0 4px 4px 0;
}

.search-input {
  border-radius: 5%;
}

h3 {
  font-weight: 600;
  background-image: linear-gradient(to left, #ac8a03, #ffd52d);
  color: transparent;
  background-clip: text;
}